// dark colors
$title-color: #eeb6a9;
$background: #333333;
$border-color: #efefef;
$secondary-dark: #474747;
$green: #8de792;
$lightblue: #ADD8E6;
// bright colors
$title-color-light: #cf7e73;
$background-light: #efefef;
$border-color-light: #333333;
$secondary-dark-light: #a9a9a9;
$green-light: #73b676;
$lightblue-light: #478497;

// color schemes
.ttt-container {
  input,
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  padding: 15px;
  box-sizing: border-box;

  h1 {
    color: $title-color;
    font-size: 88px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0 0 0;
  }

  .top-container {
    height: 41px;
    display: flex;

    .left-container {
      display: flex;
      flex: 1 0;
      align-items: center;
    }
  }

  // color schemes

  transition: background-color .3s;
  &.dark {
    background-color: $background;
    h1 {
      color: $title-color;
    }
    .level {
      &.easy {
        background-color: #467d80;
        &:hover {
          background-color: #376c6f;
        }
        border-bottom: 2px solid #2b5356;
      }
      &.hard {
        background-color: #803639;
        &:hover {
          background-color: #6c3335;
        }
        border-bottom: 2px solid #582b2c;
      }
    }
    .delete {
      background-color: #999999;
      &:hover {
        background-color: #7b7b7b;
      }
      border-bottom: 2px solid #666666;
    }
    .player {
      color: $border-color;
      #player-name {
        color: $border-color;
        &:focus {
          color: $green;
          border: 1px solid grey;
        }
      }
    }
    .highscore {
      border: 1px solid $lightblue;
      color: $lightblue;
      background-color: $background;
    }
    .square {
      background-color: $background;
      border: 3px solid $border-color;
      &.user {
        &:before {
          background-color: $border-color;
        }
        &:after {
          background-color: $background;
        }
      }
      &:not(.user):not(.computer):hover {
        &:before {
          background-color: $secondary-dark;
        }
        &:after {
          background-color: $background;
        }
      }
      &.computer {
        &:after,
        &:before {
          background-color: $border-color;
        }
      }
    }
    .footer {
      color: $border-color;
      background-color: $background;
    }
  }
  &.light {
    background-color: $background-light;
    h1 {
      color: $title-color-light;
    }
    .level {
      &.easy {
        background-color: #6eb5b8;
        &:hover {
          background-color: #559c9f;
        }
        border-bottom: 2px solid #4a7e81;
      }
      &.hard {
        background-color: #c64245;
        &:hover {
          background-color: #9e373a;
        }
        border-bottom: 2px solid #813638;
      }
    }
    .delete {
      background-color: #bababa;
      &:hover {
        background-color: #aaaaaa;
      }
      border-bottom: 2px solid #8f8f8f;
    }
    .player {
      color: $border-color-light;
      #player-name {
        color: $border-color-light;
        &:focus {
          color: $green-light;
          border: 1px solid grey;
        }
      }
    }
    .highscore {
      border: 1px solid $lightblue-light;
      color: $lightblue-light;
      background-color: $background-light;
    }
    .square {
      background-color: $background-light;
      border: 3px solid $border-color-light;
      &.user {
        &:before {
          background-color: $border-color-light;
        }
        &:after {
          background-color: $background-light;
        }
      }
      &:not(.user):not(.computer):hover {
        &:before {
          background-color: $secondary-dark-light;
        }
        &:after {
          background-color: $background-light;
        }
      }
      &.computer {
        &:after,
        &:before {
          background-color: $border-color-light;
        }
      }
    }
    .footer {
      color: $border-color-light;
      background-color: $background-light;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .container-el {
    font-family: Lucida Console, monospace;
    margin-left: auto;
    margin-right: auto;
  }
  .squares {
    position: relative;
    margin-top: 60px;
    width: 450px;
    height: 450px;
  }
  .square-row {
    height: 150px;
    width: 100%;
  }
  @keyframes op {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .highscore {
    top: 15px;
    right: 15px;
    width: 104px;
    height: 39px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding: 8px 10px;
    box-sizing: border-box;
    opacity: 0.3;
    cursor: default;
    text-align: right;
    transition: opacity .2s, background-color .3s, width .1s, height .1s;
    .highscore-message {
      font-size: 16px;
    }
    .delete {
      bottom: 15px;
      right: 15px;
      position: absolute;
      padding: 10px;
      color: #ffffff;
      cursor: pointer;
      user-select: none;
    }
    .delete,
    .highscore-message:nth-child(2) {
      display: none;
      opacity: 0;
      animation-name: op;
      animation-duration: .05s;
      animation-delay: .1s;
      animation-fill-mode: forwards;
    }
    &:hover {
      opacity: 1;
      width: 230px;
      height: 120px;
      padding-bottom: 65px;
      .delete,
      .highscore-message:nth-child(2) {
        display: block;
      }
    }
  }
  .messages {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    .message-text {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 50px;
      padding-left: 15px;
    }
    .message-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.5;
      background-color: black;
    }
  }
  .level,
  .icon-container {
    margin-right: 10px;
  }
  .level {
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
  }
  .btn {
    border-radius: 3px;
  }
  .player {
    text-align: center;
    font-size: 14px;
    .player-label {
      text-align: right;
      display: inline-block;
    }
  }
  #player-name {
    line-height: 26px;
    font-size: 14px;
    border-radius: 3px;
    padding: 6px 6px;
    width: 120px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid transparent;

  }
  // square styles
  @keyframes put-computer {
    0% {
      top: 20%;
      left: 40%;
      height: 60%;
      width: 20%;
    }
    50% {
      top: 17%;
      left: 39%;
      height: 66%;
      width: 22%;
    }
    100% {
      top: 20%;
      left: 40%;
      height: 60%;
      width: 20%;
    }
  }
  @keyframes put-user-outer {
    0% {
      top: 20%;
      left: 20%;
      height: 60%;
      width: 60%;
    }
    50% {
      top: 17%;
      left: 17%;
      height: 66%;
      width: 66%;
    }
    100% {
      top: 20%;
      left: 20%;
      height: 60%;
      width: 60%;
    }
  }
  @keyframes put-user-inner {
    0% {
      top: 40%;
      left: 40%;
      height: 20%;
      width: 20%;
    }
    50% {
      top: 39%;
      left: 39%;
      height: 22%;
      width: 22%;
    }
    100% {
      top: 40%;
      left: 40%;
      height: 20%;
      width: 20%;
    }
  }
  .square {
    transition: background-color .3s;
    float:left;
    width: 150px;
    height: 100%;
    position:relative;
    cursor: pointer;
    box-sizing: border-box;
    &.blocked,
    &.user,
    &.computer {
      cursor: default;
      pointer-events: none;
    }
  }
  #f00 {
    border-left: none;
    border-top: none;
  }
  #f01 {
    border-top: none;
  }
  #f02 {
    border-top: none;
    border-right: none;
  }
  #f10 {
    border-left: none;
  }
  #f12 {
    border-right: none;
  }
  #f20 {
    border-left: none;
    border-bottom: none;
  }
  #f21 {
    border-bottom: none;
  }
  #f22 {
    border-right: none;
    border-bottom: none;
  }
  .square.user {
    &.put {
      &:after {
        animation: put-user-inner .1s;
      }
      &:before {
        animation: put-user-outer .1s;
      }
    }
    &:before {
      content: '';
      top: 20%;
      left: 20%;
      height: 60%;
      width: 60%;
      border-radius: 100%;
      position: absolute;
    }
    &:after {
      content: '';
      top: 40%;
      left: 40%;
      height: 20%;
      width: 20%;
      border-radius: 100%;
      position: absolute;
    }
  }
  .square:not(.user):not(.computer):hover {
    &:before {
      content: '';
      top: 20%;
      left: 20%;
      height: 60%;
      width: 60%;
      border-radius: 100%;
      position: absolute;
    }
    &:after {
      content: '';
      top: 40%;
      left: 40%;
      height: 20%;
      width: 20%;
      border-radius: 100%;
      position: absolute;
    }
  }
  .square.computer {
    &.put {
      &:after,
      &:before {
        animation: put-computer .1s;
      }
    }
    &:after {
      content: '';
      top: 20%;
      left: 40%;
      height: 60%;
      width: 20%;
      position: absolute;
      transform: rotate(45deg);
    }
    &:before {
      content: '';
      top: 20%;
      left: 40%;
      height: 60%;
      width: 20%;
      position: absolute;
      transform: rotate(-45deg);
    }
  }
  .icon-container {
    cursor: pointer;
    width: 23px;
    height: 23px;

    svg {
      width: 100%;
      height: 100%;
    }

    &.bright {
      svg {
        fill: #585858;
      }
    }

    &.dark {
      svg {
        fill: #d5d5d5;
      }
    }
  }
  .footer {
    display: block;
    font-size: 10px;
    line-height: 22px;
    height: 22px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: background-color .3s;
  }

  .footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  .footer .footer-content {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: grey;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .footer .footer-content a {
    color: gray;
    text-decoration: none;
  }


  @media screen and (max-width: 500px) {
    .square-row {
      height: 100px;
    }
    .square {
      width: 100px;
    }
    .squares {
      width: 300px;
      height: 300px;
      margin-top: 50px;
    }
    .ttt-container h1 {
      font-size: 50px;
    }
    #player-name {
      width: 80px;
    }
  }
}
